@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* Stili di base per il corpo e l'HTML */
body, html {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/Sfondo.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Questo farà in modo che l'immagine copra l'intera viewport */
    background-position: center center; /* Questo posizionerà l'immagine al centro */
}

/* Contenitore principale */
.container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Stilizzazione del contenitore header */
.header {
    position: fixed;
    top: 0px;
    left: 15%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.header a {
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: opacity 0.3s;
}

.header a:hover {
    opacity: 0.5; /* Imposta l'opacità di tutto il contenuto dell'ancoraggio (sia il logo che il testo) quando passi sopra */
}

/* Stilizzazione dell'immagine del logo */
.header img {
    width: 120px;
    margin-right: 0px;
}


/* Stilizzazione della scritta vicino al logo */
.logo-text {
    color:#015486; /* Colore del testo */
    font-size: 40px; /* Dimensione del testo */
    font-weight: bold; /* Grassetto */
}




/* Stili per l'icona ad hamburger */
.hamburger-icon {
    display: none; /* Nascosto di default */
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

/* Stili per il menu a tendina */
.dropdown-menu {
    display: none; /* Nascosto di default */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

/* Stili per il menu in alto a destra */
.menu {
    position: fixed;
    top: 57px;
    right: 60px;
    display: flex;
    z-index: 1000;
    margin-right: 60px;
    font-size: 23PX;
    font-weight:bold;
}
.menu-item {
    text-decoration: none;
    color: #015486;
    margin-right: 30px;
    cursor: pointer;
    transition: color 0.3s; /* Effetto di transizione al passaggio del mouse */
}
.menu-item:hover {
    color: lightblue; /* Cambia colore al passaggio del mouse */
}


/* Testo */

.text-overlay {
    position: relative;
    max-width: 800px;
    left: 130px;
    top: 110px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #015486;
    border-radius: 15px; /* Aggiunge angoli arrotondati al box del testo */
}

.text-overlay h2 {
    margin-bottom: 8px;  /* Ridotto ulteriormente il margine inferiore */
    margin-top: 2px;     /* Ridotto ulteriormente il margine superiore */
    font-size: 3.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.text-overlay h2 span {
    font-size: 1.5em;
}


.text-overlay h3 {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.5em;
}

.text-overlay p {
    display: inline-block;
    margin-bottom: 10px;
    color: #001B57;
    margin-top: 5px;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.text-overlay a {

    color: #111;
}


.text-overlay .intro {
    margin-bottom: 5px;
}

.text-overlay ul {
    list-style-type: disc;
    padding: 0;
}

.text-overlay li {
    margin-bottom: 5px;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    margin: 0 10px; /* Aggiunge spazio tra le icone */
    text-decoration: none; /* Rimuove sottolineature dai link */
    color: inherit; /* Utilizza il colore ereditato anziché un colore specifico per il link */
}

.icon i {
    font-size: 24px; /* Dimensione media delle icone */
    transition: color 0.3s; /* Effetto di transizione al passaggio del mouse */
}

.icon:hover i {
    color: #0077b5; /* Cambia colore al passaggio del mouse, ad esempio in blu LinkedIn */
}

/* Stili per la versione mobile */
@media screen and (max-width: 768px){

    /* Stilizzazione del contenitore header */
    body, html {
        font-family: 'Montserrat', sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden; /* Permette lo scorrimento su dispositivi mobili */
    }

.text-overlay {
    position: relative;
    max-width: 90%; /* Ridotta la larghezza per adattarsi meglio ai dispositivi mobili */
    left: 5%; /* Centrato il contenuto */
    top: 15%;
    display: flex;
    flex-direction: column;
    padding: 10px; /* Ridotto il padding */
    color: white;
    border-radius: 15px;
}

.text-overlay h2 {
    margin-bottom: 5px;
    margin-top: 2px;
    font-size: 1.7em; /* Ridotta la dimensione del testo */
    line-height: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
}

.text-overlay h3 {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.2em; /* Ridotta la dimensione del testo */
}

.text-overlay p, .text-overlay ul, .text-overlay li {
    font-size: 1em; /* Ridotta la dimensione del testo */
}}