@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* Stili di base per il corpo e l'HTML */
body, html {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image:url('images/fondo\ con\ colori\ pantone_page-0010.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover; /* Questo farà in modo che l'immagine copra l'intera viewport */
    background-position: center center; /* Questo posizionerà l'immagine al centro */
    overflow-x: hidden; 
}

/* Contenitore principale */
.container {
    position: relative;
    width: 100%;
}

/* Stilizzazione del contenitore header */
.header {
    position: static;
    top: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: row; /* Specifica la direzione degli elementi flex */
    align-items: center; /* Centra verticalmente gli elementi */
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    padding: 0 20px;
}

.header a {
    flex-shrink: 0; /* Impedisce al logo e al menu di ridursi */
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: opacity 0.3s;
}

.header a:hover {
    opacity: 0.5; /* Imposta l'opacità di tutto il contenuto dell'ancoraggio (sia il logo che il testo) quando passi sopra */
}

/* Stilizzazione dell'immagine del logo */
.header img {
    width: 120px;
    margin-right: 0px;
}


/* Stilizzazione della scritta vicino al logo */
.logo-text {
    color:#015486; /* Colore del testo */
    font-size: 40px; /* Dimensione del testo */
    font-weight: bold; /* Grassetto */
}


/* Stili per il menu a tendina */
/* Nascondi il menu mobile e il pulsante del menu per impostazione predefinita */
.open-main-nav, .main-nav {
    display: none;
}


/* Stili per il menu in alto a destra */
.menu {
    flex-shrink: 0; /* Impedisce al logo e al menu di ridursi */
        position: relative;
        display: flex;
        z-index: 1000;
        font-size: 23PX;
        font-weight:bold;
}

.menu-item {
    text-decoration: none;
    color: #015486;
    margin-right: 30px;
    cursor: pointer;
    transition: color 0.3s; /* Effetto di transizione al passaggio del mouse */
}
.menu-item:hover {
    color: lightblue; /* Cambia colore al passaggio del mouse */
}


/* Testo */

.text-overlay {
    position: relative;
    max-width: 800px;
    left: 130px;
    top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #015486;
    border-radius: 15px; /* Aggiunge angoli arrotondati al box del testo */
}

.text-overlay h2 {
    margin-bottom: 8px;  /* Ridotto ulteriormente il margine inferiore */
    margin-top: 2px;     /* Ridotto ulteriormente il margine superiore */
    font-size: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.text-overlay h2 span {
    font-size: 1.5em;
}


.text-overlay h3 {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.5em;
}

.text-overlay p {
    display: inline-block;
    margin-bottom: 10px;
    color: #001B57;
    margin-top: 5px;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.text-overlay a {

    color: #111;
}


.text-overlay .intro {
    margin-bottom: 5px;
}

.text-overlay ul {
    list-style-type: disc;
    padding: 0;
}

.text-overlay li {
    margin-bottom: 5px;
}


/* Stili per tutte le dimensioni dello schermo (incluso mobile) */
/* Stili per il testo nella versione desktop */
.text-overlay-desktop {
  position: relative;
  max-width: 800px;
  left: 130px;
  top: -20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #015486;
  border-radius: 15px;
}

.text-overlay-desktop h2 {
  margin-bottom: 8px;
  margin-top: 2px;
  font-size: 3.5em;
  font-weight: 900;
  text-transform: uppercase;
}

.text-overlay-desktop h2 span {
  font-size: 1.5em;
}

.text-overlay-desktop h3 {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 1.5em;
}

.text-overlay-desktop p {
  display: inline-block;
  margin-bottom: 10px;
  color: #001B57;
  margin-top: 5px;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.text-overlay-desktop a {
  color: #111;
}

.text-overlay-desktop .intro {
  margin-bottom: 5px;
}

.text-overlay-desktop ul {
  list-style-type: disc;
  padding: 0;
}

.text-overlay-desktop li {
  margin-bottom: 5px;
}

/* Nascondi le icone desktop */
.social-icons-mobile {
  display: none;
}

/* Stili per le icone dei social media nella versione desktop */
.social-icons-desktop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-desktop {
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
}

.icon-desktop i {
  font-size: 24px;
  transition: color 0.3s;
}

.icon-desktop:hover i {
  color: #0077b5;
}

/* Nascondi la sezione di contatto nella versione desktop */
.mobile-contact-section {
  display: none; /* Nascondi la sezione di contatto per impostazione predefinita */
}



/* FAQ */
.wrapper {
    max-width: 75%;
    margin: auto;
    margin-top: 30px;
      padding-bottom: 50px; /* Altezza dello spazio tra il wrapper e il footer (personalizzabile) */
    color: #015486;
    }
  
  .wrapper > p,
  .wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
  }
  
  .wrapper > h1 {
    letter-spacing: 3px;
  }
  
  .accordion {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    backdrop-filter: blur(10px); /* Aggiungi sfocatura */
  }
  
  .accordion i {
    font-size: 1.6rem;
  }
  
  .active,
  .accordion:hover {
    background-color: transparent;
  }
  .pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: transparent;
    overflow: hidden;
    display: none;
  }
  .pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  .faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
  }
  .faq.active {
    border: none;
  }
  
  /* Scrollbar */
  .scrollbar {
    height: 100%; /* Fai in modo che la barra di scorrimento occupi l'intera altezza */
    overflow-x: hidden; /* Nessuna scorribilità orizzontale */
    overflow-y: auto; /* Mostra la barra di scorrimento solo quando necessario */
    width: 100%; /* Fai in modo che la barra di scorrimento occupi l'intera larghezza */
    background: #F5F5F5;
  }
  
  .force-overflow {
    min-height: 101%; /* Forza la barra di scorrimento a comparire */
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #DAECEF;
  }


/* Transizioni in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.95; /* Ridotta l'opacità finale */
    }
}

body {
    animation: fadeIn 1.5s ease-in-out;
}

/* Transizioni out */
body.fade-out {
    animation: fadeOut 1.5s ease-in-out;
}

@keyframes fadeOut {
    from {
        opacity: 0.95; /* Parti da un'opacità leggermente ridotta */
    }
    to {
        opacity: 0;
    }
}
/* Stili per la versione mobile */
@media screen and (max-width: 1270px){

    /* Stilizzazione del contenitore header */
    body, html {
        font-family: 'Montserrat', sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
        body::-webkit-scrollbar {
            display: none; /* per Chrome e Safari */
        }
        body {
            -ms-overflow-style: none;  /* per Internet Explorer e Edge */
            scrollbar-width: none; /* per Firefox */
        }

    .text-overlay {
        position: relative;
        max-width: 90%; /* Ridotta la larghezza per adattarsi meglio ai dispositivi mobili */
        left: 5%; /* Centrato il contenuto */
        top: -20px;
        display: flex;
        flex-direction: column;
        padding: 10px; /* Ridotto il padding */
        color: #015486;
        border-radius: 15px;
    }
    
    .text-overlay h2 {
        margin-bottom: 5px;
        margin-top: 2px;
        font-size: 1.5em; /* Ridotta la dimensione del testo */
        line-height: 1.2em;
        font-weight: 900;
        text-transform: uppercase;
    }
    
    .text-overlay h3 {
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 1.2em; /* Ridotta la dimensione del testo */
    }
    
    .text-overlay p, .text-overlay ul, .text-overlay li {
        font-size: 1em; /* Ridotta la dimensione del testo */
    }
    
    .image-selector {
        position: fixed;
        bottom: 20px; /* Ridotto lo spazio dal basso */
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
    }
    
/* Stili per le icone dei social media nella versione desktop */
.social-icons-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-mobile {
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
}

.icon-mobile i {
  font-size: 24px;
  transition: color 0.3s;
}

.icon-mobile:hover i {
  color: #0077b5;
}

    
    .selector-button {
        background: url('images/Logo_menu.png') no-repeat center center;
        background-size: cover;
        border: none;
        margin: 0 15px; /* Ridotto il margine tra i pulsanti */
        cursor: pointer;
        width: 50px; /* Ridotta la dimensione del pulsante */
        height: 30px;
        border: none;
        transition: background 0.3s;
    }
/* FAQ */
.wrapper {
    max-width: 75%;
    margin: auto;
    margin-top: -40px;
    }
  
  .wrapper > p,
  .wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
  }
  
  .wrapper > h1 {
    letter-spacing: 3px;
  }
  
  .accordion {
    background-color: transparent; /* Sfondo trasparente */
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    backdrop-filter: blur(10px); /* Aggiungi sfocatura */
  }
  
  .accordion i {
    font-size: 1.6rem;
  }
  
  .active,
  .accordion:hover {
    background-color: transparent;
    backdrop-filter: blur(10px);
  }
  .pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: transparent;
    overflow: hidden;
    display: none;
  }
  .pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  .faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
  }
  .faq.active {
    border: none;
  }
  

  .text-overlay-desktop {
    display: none;
  }


/* Nascondi le icone desktop */
.social-icons-desktop {
  display: none;
}



.mobile-contact-section {
  display: block;
  text-align: center;
  background-color: transparent; /* Cambia il colore dello sfondo se necessario */
  padding: 20px;
}

.mobile-contact-section h1 {
  color: #015486;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.mobile-contact-section .contact-link {
  display: flex;
  flex-direction: column;
  align-items: center; /* Allinea gli elementi al centro orizzontalmente */
  text-decoration: none;
  color: #015486;
  margin-bottom: 30px; /* Aumenta lo spazio tra le coppie di icona e testo */
}

.mobile-contact-section .contact-link i {
  font-size: 36px; /* Aumenta le dimensioni delle icone */
  margin-bottom: 15px; /* Aumenta lo spazio tra l'icona e il testo */
}

}






