@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* Stili di base per il corpo e l'HTML */
body, html {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
}

/* Contenitore principale */
.container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Stilizzazione del contenitore header */
.header {
    position: fixed;
    top: 0px;
    left: 15%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.header a {
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: opacity 0.3s;
}

.header a:hover {
    opacity: 0.5; /* Imposta l'opacità di tutto il contenuto dell'ancoraggio (sia il logo che il testo) quando passi sopra */
}

/* Stilizzazione dell'immagine del logo */
.header img {
    width: 120px;
    margin-right: 0px;
}


/* Stilizzazione della scritta vicino al logo */
.logo-text {
    color: white; /* Colore del testo */
    font-size: 40px; /* Dimensione del testo */
    font-weight: bold; /* Grassetto */
}




/* Stili per l'icona ad hamburger */
.hamburger-icon {
    display: none; /* Nascosto di default */
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

/* Stili per il menu a tendina */
/* Nascondi il menu mobile e il pulsante del menu per impostazione predefinita */
.open-main-nav, .main-nav {
    display: none;
}


/* Stili per il menu in alto a destra */
.menu {
    position: fixed;
    top: 57px;
    right: 60px;
    display: flex;
    z-index: 1000;
    margin-right: 60px;
    font-size: 20PX;
    font-weight: bold;
}
.menu-item {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    cursor: pointer;
    transition: color 0.3s; /* Effetto di transizione al passaggio del mouse */
}
.menu-item:hover {
    color: lightgray; /* Cambia colore al passaggio del mouse */
}

/* Stili per il carosello di immagini */
.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s; /* Effetto di transizione al cambio di immagine */
}

.slide {
    flex: 0 0 100%;
    height: 100%;
    background-size: cover; /* L'immagine copre l'intera area */
    background-position: center; /* L'immagine è centrata */
    position: relative; /* Permette di posizionare il testo sopra l'immagine */
}


.slide:first-child {
    display: block; /* Mostra solo la prima slide inizialmente */
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent; /* Rimuove lo sfondo */
    color: white; /* Colore della freccia */
    border: none;
    cursor: pointer;
    z-index: 10;
    font-size: 40px; /* Aumenta la dimensione della freccia */
    padding: 10px 20px; /* Aumenta lo spazio intorno alla freccia per una migliore area cliccabile */
    opacity: 0.7; /* Rende la freccia leggermente trasparente */
    transition: opacity 0.3s; /* Aggiunge una transizione all'opacità */
}

.carousel-arrow:hover {
    opacity: 1; /* Rende la freccia completamente opaca quando viene passata sopra */
}

.carousel-arrow-left {
    left: 15px;
}

.carousel-arrow-right {
    right: 15px;
}

/* Testo sulle slide */

.text-overlay {
    position: relative;
    max-width: 800px;
    left: 10%;
    right: 10%;
    top: 25%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    border-radius: 15px; /* Aggiunge angoli arrotondati al box del testo */
}

.text-overlay h2 {
    margin-bottom: 8px;  /* Ridotto ulteriormente il margine inferiore */
    margin-top: 2px;     /* Ridotto ulteriormente il margine superiore */
    font-size: 3.5em;
    line-height: 1.5em;  /* Corretto l'errore della virgola */
    font-weight: 900;
    text-transform: uppercase;
}

.text-overlay h2 span {
    font-size: 1.5em;
}


.text-overlay h3 {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.5em;
}

.text-overlay p {
    display: inline-block;
    margin-bottom: 10px;
    color: #fff;
    margin-top: 5px;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.text-overlay a {
    display: inline-block;
    font-size: 1.5em;
    margin-bottom: 5px;
    margin-top: 15px;
    width: fit-content;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}


.text-overlay .intro {
    font-style:italic;
    margin-bottom: 5px;
}

.text-overlay ul {
    list-style-type: disc;
    padding: 0;
}

.text-overlay li {
    margin-bottom: 5px;
}

/* Stili per il selettore di immagini con pallini e sbarretta */
.image-selector {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}



.selector-button {
    background: url('images/Logo_menu.png') no-repeat center center;
    background-size: cover; /* Questo farà in modo che l'immagine copra l'intero elemento */
    border: none;
    margin: 0 25px;
    cursor: pointer;
    width: 80px;
    height: 50px;
    border: none; /* Forma circolare */
    transition: background 0.3s; /* Effetto di transizione al passaggio del mouse */
}
.selector-button:hover {
    transform: translateY(-15px);
}

.selector-button.raised {
    transform: translateY(-15px);
}

/* Transizioni in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.95; /* Ridotta l'opacità finale */
    }
}

body {
    animation: fadeIn 1.5s ease-in-out;
}

/* Transizioni out */
body.fade-out {
    animation: fadeOut 1.5s ease-in-out;
}

.carousel-arrow1 {
    display: none;
}

@keyframes fadeOut {
    from {
        opacity: 0.95; /* Parti da un'opacità leggermente ridotta */
    }
    to {
        opacity: 0;
    }
}


/* Stili per la versione mobile */
@media screen and (max-width: 1270px){

    /* Stilizzazione del contenitore header */
    body, html {
        font-family: 'Montserrat', sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow:scroll; /* Permette lo scorrimento su dispositivi mobili */
        overflow-x: hidden;
    }
    
    .container {
        position: relative;
        width: 100%;
        height: 100%;
    }
    

    .header {
        position: fixed;
        top: 0px;
        left: 0; /* Cambiato da left: 50% */
        transform: none; /* Rimosso translateX(-50%) */
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between; /* Aggiunto per separare gli elementi */
        background-color: transparent;
        padding: 10px;
        width: 100%; /* Assicurati che l'header occupi l'intera larghezza */
    }
    
    .header a {
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: opacity 0.3s;
    }
    
    .header img {
        width: 70px; /* Ridotta la dimensione del logo */
        margin-right: 10px;
    }
    
    .logo-text {
        color: white;
        font-size: 24px; /* Ridotta la dimensione del testo del logo */
        font-weight: bold;
    }

    .menu {
        display: none; /* Nascondi il menu desktop su mobile */
    }
    
    .carousel {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        transition: transform 0.5s;
    }
    
    .carousel-arrow-left,
    .carousel-arrow-right {
        display: none; /* Nasconde le frecce nella versione mobile */
    }
    

    .slide {
        flex: 0 0 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .carousel .slide {
        background-attachment: fixed;
        background-repeat: repeat;
        background-size: cover;
        background-position: center center;
        overflow-x: hidden;
        width: 100%; /* o la larghezza desiderata */
        height: 100vh; /* o l'altezza desiderata */
    }
    
    .text-overlay {
        position: relative;
        max-width: 90%; /* Ridotta la larghezza per adattarsi meglio ai dispositivi mobili */
        left: 5%; /* Centrato il contenuto */
        top: 15%;
        display: flex;
        flex-direction: column;
        padding: 10px; /* Ridotto il padding */
        color: white;
        border-radius: 15px;
    }
    
    .text-overlay h2 {
        margin-bottom: 5px;
        margin-top: 2px;
        font-size: 1.7em; /* Ridotta la dimensione del testo */
        line-height: 1.2em;
        font-weight: 900;
        text-transform: uppercase;
    }
    
    .text-overlay h3 {
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 1.2em; /* Ridotta la dimensione del testo */
    }
    
    .text-overlay p, .text-overlay ul, .text-overlay li {
        font-size: 1em; /* Ridotta la dimensione del testo */
    }
    
    .image-selector {
        position: fixed;
        bottom: 20px; /* Ridotto lo spazio dal basso */
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
    }
    
    
    .selector-button {
        background: url('images/Logo_menu.png') no-repeat center center;
        background-size: cover;
        border: none;
        margin: 0 15px; /* Ridotto il margine tra i pulsanti */
        cursor: pointer;
        width: 50px; /* Ridotta la dimensione del pulsante */
        height: 30px;
        border: none;
        transition: background 0.3s;
    }

    .image-selector {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .carousel-arrow1 {
            display: inline-block; /* Mostra le frecce solo per dispositivi con larghezza schermo fino a 768px */
        font-size: 20px;
        padding: 5px 10px;
        margin: 0 5px;
        background-color: transparent; /* Imposta lo sfondo del pulsante come trasparente */
        border: none; /* Rimuove il bordo del pulsante */
        color: white; /* Imposta il colore della freccia come bianco */
    }
    
    
    .image-selector .carousel-arrow1-left-mobile {
        order: 1;
    }
    
    .image-selector .slider-track {
        order: 2;
        display: flex;
        align-items: center;
    }
    
    .image-selector .carousel-arrow1-right-mobile {
        order: 3;
    }

    .main-nav {
        position: fixed; 
        top: 0;
        right: 0;
        width: 100%; 
        height: 100vh; 
        text-align: left; 
        background: #DAECEF;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: all .375s;
        overflow-y: auto; 
    }
    
    .no-scroll {
        overflow: hidden;
        height: 100%;
    }
    
      .main-nav.is-open {
        opacity: 1;
        overflow: hidden;
        z-index: 100;
        visibility: visible;
      }
      
      /* Yellow band effect */
      .main-nav::before {
       content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -15px;
        background: #015486   ;
        transform-origin: 0 0;
        transform: skew(-14deg) translateX(-120%);
        transition: all .275s .1s;
      }
      
      .main-nav.is-open::before {
        transform: skew(-14deg) translateX(0);
      }
      
      /* Skewing effect on menu links */
      .main-nav ul {
        display: inline-flex;
        flex-direction: column;
        height: 93%; /* Should be 100%, but we have a notice message :D */
        align-items: flex-end;
        justify-content: center;
        transform: translateX(-18%) skew(-16deg);
      }
      
      .main-nav li {
        display: block;
        margin: .5rem 0;
        text-align: right;
        transform: skew(16deg);
      }
      
      /* Apparition effect on links */
      .main-nav a {
        opacity: 0;
        transform: translateY(-10px);
      }
      
      .main-nav.is-open a {
        opacity: 1;
        transform: translateY(0);
      }
      .main-nav li:nth-child(1) a {
      transition: all 275ms 175ms
      }
      .main-nav li:nth-child(2) a {
      transition: all 275ms 225ms
      }
      .main-nav li:nth-child(3) a {
      transition: all 275ms 275ms
      }
      .main-nav li:nth-child(4) a {
      transition: all 275ms 325ms
      }
      .main-nav li:nth-child(5) a {
      transition: all 275ms 375ms
      }
      
      
      /* Decoration */
    /* Skewing effect on menu links */
    .main-nav ul {
        display: inline-flex;
        flex-direction: column;
        height: 100%; /* Cambiato da 93% a 100% */
        align-items: flex-start; /* Cambiato da flex-end a flex-start */
        justify-content: flex-start; /* Cambiato da center a flex-start */
        transform: skew(0deg); /* Rimosso l'effetto di inclinazione */
        padding: 20px; /* Aggiunto padding per spaziare gli elementi */
    }
    
    .main-nav li {
        display: block;
        margin: .5rem 0;
        text-align: left; /* Allineamento a sinistra */
        transform: skew(0deg); /* Rimosso l'effetto di inclinazione */
    }
      .main-nav a {
      display: block;
      padding: 12px 0;
      color: #DAECEF  ;
      font-size: 1.4em;
      text-decoration: none;
      font-weight: bold;
      }
      
     /* Burger Style */
    .open-main-nav {
        position: fixed; /* Cambiato da absolute a fixed */
        top: 15px;
        right: 15px;
        margin-right: 15px;
        z-index: 1000;
        background: none;
        border: 0;
        cursor: pointer;
    }
      .open-main-nav:focus {
      outline: none;
      }
      .burger {
        position: relative;
        display: block;
        width: 28px;
        height: 4px;
        margin: 0 auto;
        background: #DAECEF;
        transform: skew(5deg);
        transition: all .275s;
        }
      
      .burger:after,
      .burger:before {
      content: '';
      display: block;
      height: 100%;
      background: #6A9AB7;
      transition: all .275s;
      }
      
      .burger:after {
      transform: translateY(-12px) translateX(-2px) skew(-20deg);
      }
      
      .burger:before {
      transform: translateY(-16px) skew(-10deg);
      }
      
      /* Toggle State part */
      .is-open .burger {
      transform: skew(5deg) translateY(-8px) rotate(-45deg);
      }
      
      .is-open .burger:before {
      transform: translateY(0px) skew(-10deg) rotate(75deg);
      }
      
      .is-open .burger:after {
      transform: translateY(-12px) translateX(10px) skew(-20deg);
        opacity: 0;
      }
      
      /* MENU Text part */
      
      .burger-text {
      display: block;
      font-size: .675rem;
      letter-spacing: .05em;
      margin-top: .5em;
      text-transform: uppercase;
      font-weight: 500;
      text-align: center;
      color: #6A9AB7;
    
      
      }
    
    
      .open-main-nav, .main-nav {
        display: block;
    }
 
        .open-main-nav {
            display: block; /* Mostra il pulsante del menu hamburger nella versione mobile */
            position: absolute; /* Posiziona il menu hamburger a destra */
            top: 45px;
            right: 5px;
        }
    
        .menu {
            display: none; /* Nascondi il menu nella versione mobile */
        }

/* Tasti per il download delle app */
.app-store-button {
    display: inline-block;
    text-align: center;
  }
  
  .app-store-button a {
    display: block;
    text-decoration: none;
  }
  
  .app-store-button img {
    width: 208px; /* Imposta la larghezza desiderata per le icone delle app */
    height: auto; /* Mantieni l'aspetto proporzionato */
    margin-right: 5px; /* Aggiungi margine a destra per separare l'immagine dal testo */
  }}
  


  