@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #015486;
  --primary-color-dark: #6A9AB7;
  --primary-color-light: #DAECEF;
  --secondary-color: #fb923c;
  --text-dark: #333333;
  --text-light: #767268;
  --white: #ffffff;
  --max-width: 1300px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  padding-bottom: 3rem;
}

.section__header {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #015486;
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  background-image: url('images/fondo\ con\ colori\ pantone_page-0007.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}



header {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}







/* Stilizzazione della scritta vicino al logo */
.logo-text {
  color: white; /* Colore del testo */
  font-size: 40px; /* Dimensione del testo */
  font-weight: bold; /* Grassetto */
}


/* Stili per l'icona ad hamburger */
.hamburger-icon {
  display: none; /* Nascosto di default */
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}

/* Stili per il menu a tendina */
/* Nascondi il menu mobile e il pulsante del menu per impostazione predefinita */
.open-main-nav, .main-nav {
  display: none;
}


/* Stili per il menu in alto a destra */
.menu {
  position: relative;
  top: 10px;
  right: -120px;
  display: flex;
  z-index: 1000;
  margin-right: 6px;
  font-size: 25PX;

}
.menu-item {
  text-decoration: none;
  color: #015486;
  margin-right: 30px;
  cursor: pointer;
  transition: color 0.3s; /* Effetto di transizione al passaggio del mouse */
}
.menu-item:hover {
  color: lightgray; /* Cambia colore al passaggio del mouse */
}














.nav__container {
  padding-top: 2rem;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 3rem;
  font-weight: 600;
  color: #015486;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav__logo img, .nav__logo span {
    margin-left: -20px; /* Sposta sia l'immagine che il testo del logo più a sinistra */
}

.nav__logo img {
    width: 200px;
    height: auto;
}

.nav__logo span {
  color: var(--secondary-color);
}


.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.link a {
  padding: 0.5rem;
  color: var(--primary-color-light);
}

.link a:hover {
  color: var(--white);
}

.header__container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.header__container h1 {
  margin-bottom: 1rem;
  max-width: 800px;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--white);
}

.header__container p {
  margin-bottom: 2rem;
  max-width: 600px;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: var(--primary-color-light);
}


.form__btn {
  background-color: var(--primary-color);
  transition: 0.3s;
}

.form__btn:hover {
  background-color: var(--primary-color-dark);
}

.header__form h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.service__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3rem;
}

.service__header__content p {
  max-width: 900px;
  color: var(--text-light);
}

.service__btn {
  padding: 0.75rem 1rem;
  outline: none;
  font-size: 1rem;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
}

.service__btn:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

.service__grid {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.service__card {
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.service__card span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 10px 20px;
  font-size: 2.5rem;
  color: var(--primary-color);
  background-color: var(--primary-color-light);
  border-radius: 100%;
  transition: 0.3s;
}

.service__card span1 {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: var(--primary-color);
  background-color: var(--primary-color-light);
  transition: 0.3s;
}



.service__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.service__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.service__card p1 {
  margin-bottom: 1rem;
  color: var(--text-light);
  text-align: justify;
}



.service__card a {
  color: var(--primary-color);
}

.service__card a:hover {
  color: var(--primary-color-dark);
}

.service__card:hover span {
  color: var(--primary-color-light);
  background-color: var(--primary-color);
}

.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.about__content p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.about__image img {
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
}

.why__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.why__image img {
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
}

.why__content p {
  color: var(--text-light);
}

.why__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 80px auto;
  gap: 2rem;
}

.why__grid span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.why__grid h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.why__grid p {
  color: var(--text-light);
}

.doctors__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.doctors__header__content p {
  max-width: 600px;
  color: var(--text-light);
}

.doctors__nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.doctors__nav span {
  padding: 5px 15px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--primary-color-light);
  cursor: pointer;
}

.doctors__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.doctors__card {
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.doctors__card__image {
  position: relative;
  overflow: hidden;
}

.doctors__socials {
  position: absolute;
  left: 0;
  bottom: -4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: 0.5s;
}

.doctors__socials span {
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.5rem;
  color: var(--text-dark);
  background-color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.doctors__socials span:hover {
  color: var(--primary-color);
}

.doctors__card:hover .doctors__socials {
  bottom: 2rem;
}

.doctors__card h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.doctors__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.footer {
  background-color: var(--primary-color-light);
}

.footer__container {
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}

.footer__col h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.footer__col h3 span {
  color: var(--secondary-color);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.footer__col p {
  margin-bottom: 1rem;
  color: var(--text-dark);
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--primary-color);
}

.footer__col i {
  color: var(--primary-color);
}

.footer__bar {
  background-color: var(--primary-color);
}

.footer__bar__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer__bar__content p {
  font-size: 0.8rem;
  color: var(--white);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;
}

.center-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Spazio tra le icone */
  width: 100%; /* Si estende sull'intera larghezza */
  margin-bottom: 10px;

}

.center-footer i {
  color: #015486;  /* Cambia il colore in blu */
}

.center-footer1 p {
  margin: 0;
  font-size: 14px;
}


/* Partner */
.page-title {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  color: #015486;
}

.item-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  width: 100%; /* Assicuriamoci che il contenitore abbia una larghezza del 100% */
}

.item {
  width: calc(20% - 20px);
  margin: 10px;
  background-color: #6A9AB7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-img {
  width: 100%;
  height: 200px;
  background-color: white;
  display: flex; /* Utilizza flexbox per centrare l'immagine */
  align-items: center; /* Centra l'immagine verticalmente */
  justify-content: center; /* Centra l'immagine orizzontalmente */
}

.item-img img {
  max-width: 100%; /* Impedisce all'immagine di essere più larga del contenitore */
  max-height: 100%; /* Impedisce all'immagine di essere più alta del contenitore */
  object-fit: contain; /* Fa sì che l'immagine si adatti al contenitore mantenendo le proporzioni */
}

.item-info {
  padding: 10px;
}

.item-info h2 {
  margin: 0;
  margin-bottom: 10px;
}

.item-info p {
  margin: 0;
}


.space2 {
height: 60px;
}




/* Spazio tra il menu e il contenuto principale */
.space {
  height: 80px; /* Puoi personalizzare l'altezza */
}


/* Tasti per il download delle app */
.app-store-button {
  display: inline-block;
  text-align: center;
}

.app-store-button a {
  display: block;
  text-decoration: none;
}

.app-store-button img {
  width: 208px; /* Imposta la larghezza desiderata per le icone delle app */
  height: auto; /* Mantieni l'aspetto proporzionato */
  margin-right: 5px; /* Aggiungi margine a destra per separare l'immagine dal testo */
}



/* Footer styling */
footer {
  background-color: transparent;
  padding: 20px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #015486;
}

.left-footer {
  display: flex;
  align-items: center;
}

.left-footer img {
  width: 100px; /* Imposta la larghezza desiderata per il logo */
  height: auto; /* Mantieni l'aspetto proporzionato */
  margin-right: 10px; /* Aggiungi margine a destra per separare il logo dal testo */
}

.left-footer p {
  margin: 0;
  font-size: 14px;
}

.right-footer {
  font-size: 14px;
  margin-right: 10px; /* Aggiungi margine a destra per separare il testo dal bordo destro */
}




.header__content a {
  display: inline-block;
  font-size: 1.5em;
  margin-bottom: 5px;
  margin-top: 15px;
  width: fit-content;
  padding: 8px 20px;
  background: #fff;
  color: #111;
  border-radius: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}


.header__content a:hover {
  opacity: 0.8; /* Effetto di dissolvenza al passaggio del mouse */
}


        /* Stile per il modal */
        .modal {
          display: none; /* Modal nascosto di default */
          position: fixed; /* Rimane fisso in posizione */
          z-index: 1; /* Posizionato sopra agli altri contenuti */
          left: 0;
          top: 0;
          width: 100%; /* Larghezza piena */
          height: 100%; /* Altezza piena */
          overflow: auto; /* Abilita lo scroll se necessario */
          background-color: rgba(0,0,0,0.4); /* Colore di sfondo */
      }

      .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        margin-top: 2rem;      
      }

      /* Il bottone di chiusura (close) */
      .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
      }

      .close:hover,
      .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
      }

      .terms-button {
          background: none;
          border: none;
          padding: 0;
          font-family: inherit;
          font-size: inherit;
          cursor: pointer;
          color: #015486;
          text-decoration: underline;
          outline: none;
      }


      .modal h2 {
        font-size: 24px;
        font-weight: bold;
        color: #2c3e50; /* Cambia il colore secondo il tuo design */
        margin-bottom: 10px;
    }
    
    .modal h3 {
        font-size: 20px;
        font-weight: bold;
        color: #34495e; /* Cambia il colore secondo il tuo design */
        margin-top: 20px;
    }


    .modal h3 {
      font-size: 18px;
      font-weight: bold;
      color: #34495e; /* Cambia il colore secondo il tuo design */
      margin-top: 20px;
  }

    
    .modal p {
        font-size: 16px;
        line-height: 1.5;
        color: #555;
        margin: 10px 0;
    }
    
    .modal a {
        color: #2980b9;
        text-decoration: underline;
        cursor: pointer;
    }
    




@media (width < 900px) {
  .service__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .about__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about__image {
    grid-area: 1/1/2/2;
  }

  .about__content {
    text-align: center;
  }

  .why__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .why__content {
    text-align: center;
  }

  .why__grid {
    text-align: left;
  }

  .doctors__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 780px) {
  .nav__links {
    display: none;
  }

  .header__container {
    flex-direction: column;
  }
}

@media (width < 600px) {
  .service__header {
    flex-direction: column;
    text-align: center;
  }

  .service__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .why__grid {
    column-gap: 1rem;
  }

  .doctors__header {
    flex-direction: column;
    text-align: center;
  }

  .doctors__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__bar__content {
    flex-direction: column;
    gap: 1rem;
  }
}


/* Stili per la versione mobile */
@media screen and (max-width: 1270px){
    body {
        background-image: url('images/fondo\ con\ colori\ pantone_page-0010.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: "Poppins", sans-serif;
      }


  /* Main menu positionning */
  .main-nav {
      position: fixed; 
      top: 0;
      right: 0;
      width: 100%; 
      height: 100vh; 
      text-align: left; 
      background: #DAECEF;
      opacity: 0;
      z-index: -1;
      visibility: hidden;
      transition: all .375s;
      overflow-y: auto; 
  }
  
  .no-scroll {
      overflow: hidden;
      height: 100%;
  }
  
    .main-nav.is-open {
      opacity: 1;
      overflow: hidden;
      z-index: 100;
      visibility: visible;
    }
    
    /* Yellow band effect */
    .main-nav::before {
     content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: -15px;
      background: #015486   ;
      transform-origin: 0 0;
      transform: skew(-14deg) translateX(-120%);
      transition: all .275s .1s;
    }
    
    .main-nav.is-open::before {
      transform: skew(-14deg) translateX(0);
    }
    
    /* Skewing effect on menu links */
    .main-nav ul {
      display: inline-flex;
      flex-direction: column;
      height: 93%; /* Should be 100%, but we have a notice message :D */
      align-items: flex-end;
      justify-content: center;
      transform: translateX(-18%) skew(-16deg);
    }
    
    .main-nav li {
      display: block;
      margin: .5rem 0;
      text-align: right;
      transform: skew(16deg);
    }
    
    /* Apparition effect on links */
    .main-nav a {
      opacity: 0;
      transform: translateY(-10px);
    }
    
    .main-nav.is-open a {
      opacity: 1;
      transform: translateY(0);
    }
    .main-nav li:nth-child(1) a {
    transition: all 275ms 175ms
    }
    .main-nav li:nth-child(2) a {
    transition: all 275ms 225ms
    }
    .main-nav li:nth-child(3) a {
    transition: all 275ms 275ms
    }
    .main-nav li:nth-child(4) a {
    transition: all 275ms 325ms
    }
    .main-nav li:nth-child(5) a {
    transition: all 275ms 375ms
    }
    
    
    .left-footer p, .right-footer {
      font-size: 10px; /* o qualsiasi altra dimensione desideri */
  }




  .modal h2 {
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: auto;
}

.modal h3 {
    font-size: 13px;
    margin-top: 10px;
}

.modal h4 {
  font-size: 11px;
  margin-top: 10px;
}

.modal p {
    font-size: 9px;
}

    /* Decoration */
  /* Skewing effect on menu links */
  .main-nav ul {
      display: inline-flex;
      flex-direction: column;
      height: 100%; /* Cambiato da 93% a 100% */
      align-items: flex-start; /* Cambiato da flex-end a flex-start */
      justify-content: flex-start; /* Cambiato da center a flex-start */
      transform: skew(0deg); /* Rimosso l'effetto di inclinazione */
      padding: 20px; /* Aggiunto padding per spaziare gli elementi */
  }
  
  .main-nav li {
      display: block;
      margin: .5rem 0;
      text-align: left; /* Allineamento a sinistra */
      transform: skew(0deg); /* Rimosso l'effetto di inclinazione */
  }
    .main-nav a {
    display: block;
    padding: 12px 0;
    color: #DAECEF  ;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: bold;
    }
    
   /* Burger Style */
  .open-main-nav {
      position: fixed; /* Cambiato da absolute a fixed */
      top: 15px;
      right: 15px;
      z-index: 1000;
      background: none;
      border: 0;
      cursor: pointer;
  }
    .open-main-nav:focus {
    outline: none;
    }
    .burger {
    position: relative;
    display: block;
    width: 28px;
    height: 4px;
    margin: 0 auto;
    background: #DAECEF;
    transform: skew(5deg);
    transition: all .275s;
    margin-top: 1.7
    em;
    }
    
    .burger:after,
    .burger:before {
    content: '';
    display: block;
    height: 100%;
    background: #6A9AB7;
    transition: all .275s;
    }
    
    .burger:after {
    transform: translateY(-12px) translateX(-2px) skew(-20deg);
    }
    
    .burger:before {
    transform: translateY(-16px) skew(-10deg);
    }
    
    /* Toggle State part */
    .is-open .burger {
    transform: skew(5deg) translateY(-8px) rotate(-45deg);
    }
    
    .is-open .burger:before {
    transform: translateY(0px) skew(-10deg) rotate(75deg);
    }
    
    .is-open .burger:after {
    transform: translateY(-12px) translateX(10px) skew(-20deg);
      opacity: 0;
    }
    
    /* MENU Text part */
    
    .burger-text {
    display: block;
    font-size: .675rem;
    letter-spacing: .05em;
    margin-top: 0.5em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: #6A9AB7;
  
    
    }
  
  
    .open-main-nav, .main-nav {
      display: block;
  }
      /* ... (il resto del tuo codice CSS per la versione mobile) ... */
  
      .header {
          position: static;
          top: 0px;
          left: -10px;
          z-index: 1000;
          display: flex;
          align-items: center;
          justify-content: flex-start; /* Allinea i contenuti a sinistra */
          background-color: transparent;
          padding: 10px;
          transform: none; /* Rimuovi la trasformazione */
      }
      
      .header a {
          text-decoration: none;
          display: flex;
          align-items: center;
          transition: opacity 0.3s;
      }
      
      .header img {
          width: 72px; /* Ridotto del 40% da 120px */
      }
      
      .logo-text {
          font-size: 24px; /* Ridotto del 40% da 40px */
      }
      .open-main-nav {
          display: block; /* Mostra il pulsante del menu hamburger nella versione mobile */
          position: absolute; /* Posiziona il menu hamburger a destra */
          top: 45px;
          right: 5px;
      }
  .space1{
    height: 40px; /* Puoi personalizzare l'altezza */
  }
  
  .space2 {
    height: 40px;
    }
  
  .left-footer img {
    width: 50px; /* Imposta la larghezza desiderata per il logo */
    height: auto; /* Mantieni l'aspetto proporzionato */
    margin-right: 10px; /* Aggiungi margine a destra per separare il logo dal testo */
  }
  
      .menu {
          display: none; /* Nascondi il menu nella versione mobile */
      }
    
    
    /* Stili Partner per dispositivi mobili */
  
    .page-title {
      font-size: 24px;
      margin-top: 10px; /* Ho combinato le due dichiarazioni di margin-top in una */
      text-align: center; /* Centra il testo all'interno del titolo */
      /* Se vuoi centrare l'intero blocco, puoi aggiungere: */
      /* width: qualche_valore; */
      /* margin-left: auto; */
      /* margin-right: auto; */
  }
  
  .item-grid {
      flex-direction: column;
      padding: 0 5%;
      align-items: center;
      justify-content: center; /* Centra gli elementi orizzontalmente */
      width: auto;
  }
  
  .item {
      width: 100%;
      margin: 5px auto; 
  }
  
  .item-info h2, .ristorante-info p {
      font-size: 18px;
  }

  .nav__logo {
    font-size: 2rem;
    font-weight: 600;
    color: #015486;
  }
  .nav__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .nav__logo img {
    width: 160px; /* o qualsiasi altra dimensione desideri */
    height: auto;
  }

  .nav__logo img, .nav__logo span {
    margin-left: 0px; /* Sposta sia l'immagine che il testo del logo più a sinistra */
}


/* FAQ */
.wrapper {
  max-width: 75%;
  margin: auto;
  margin-top: -40px;
  }

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: transparent; /* Sfondo trasparente */
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  backdrop-filter: blur(10px); /* Aggiungi sfocatura */
}

.accordion i {
  font-size: 1.6rem;
}

.active,
.accordion:hover {
  background-color: transparent;
  backdrop-filter: blur(10px);
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: transparent;
  overflow: hidden;
  display: none;
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.faq.active {
  border: none;
}


.text-overlay-desktop {
  display: none;
}

.center-footer i {
  color: #015486;  /* Cambia il colore in blu */
  font-size: 1.2rem;  /* Riduce la dimensione delle icone */
  margin: 0 10px;  /* Aggiungi spazio tra le icone */
  margin-top: 10px;
}

.center-footer {
  gap: 5px; /* Spazio tra le icone */
}

.center-footer1 p {
  font-size: 8px; /* o qualsiasi altra dimensione desideri */
  margin-top: 10px;
}

}


  /* FAQ */
.wrapper {
  max-width: 75%;
  margin: auto;
  margin-top: 30px;
    padding-bottom: 50px; /* Altezza dello spazio tra il wrapper e il footer (personalizzabile) */
  color: #015486;
  }

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  backdrop-filter: blur(10px); /* Aggiungi sfocatura */
}

.accordion i {
  font-size: 1.6rem;
}

.active,
.accordion:hover {
  background-color: transparent;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: transparent;
  overflow: hidden;
  display: none;
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.faq.active {
  border: none;
}

/* Scrollbar */
.scrollbar {
  height: 100%; /* Fai in modo che la barra di scorrimento occupi l'intera altezza */
  overflow-x: hidden; /* Nessuna scorribilità orizzontale */
  overflow-y: auto; /* Mostra la barra di scorrimento solo quando necessario */
  width: 100%; /* Fai in modo che la barra di scorrimento occupi l'intera larghezza */
  background: #F5F5F5;
}

.force-overflow {
  min-height: 101%; /* Forza la barra di scorrimento a comparire */
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #DAECEF;
}


/* Transizioni in */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 0.95; /* Ridotta l'opacità finale */
  }
}

body {
  animation: fadeIn 1.5s ease-in-out;
}

/* Transizioni out */
body.fade-out {
  animation: fadeOut 1.5s ease-in-out;
}

@keyframes fadeOut {
  from {
      opacity: 0.95; /* Parti da un'opacità leggermente ridotta */
  }
  to {
      opacity: 0;
  }
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1 0 auto;  /* Questo permette al contenuto di crescere e riempire lo spazio disponibile */
}

footer {
  flex-shrink: 0;  /* Questo impedisce al footer di ridursi */
}


/* Nascondi le icone desktop */
.social-icons-mobile {
  display: none;
}

/* Stili per le icone dei social media nella versione desktop */
.social-icons-desktop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-desktop {
  margin: 0 10px;
  text-decoration: none;
  color: #015486
}

.icon-desktop i {
  font-size: 24px;
  transition: color 0.3s;
}

.icon-desktop:hover i {
  color: #0077b5;
}

.service__card span1 img {
  width: 78px;
  height: 78px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

@media (min-width: 1271px) and (max-width: 1500px) {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .section__container {
    max-width: none; /* oppure un valore differente */
}

/* Stili per il menu in alto a destra */
.menu {
position: relative;
top: 10px;
right: 10px;
display: flex;
z-index: 1000;
margin-right: 6px;
font-size: 25PX;

}

.nav__logo img, .nav__logo span {
margin-left: 0;
}
}
